@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css?family=Chewy');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 1rem;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background-color: #dcdcdc;
}



/* Navigation */

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

nav a{
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

nav a:visited {
  color: black;
}

p {
  text-align: center;
  margin: 10px 0;
  max-width: 600px;
}

/* Instructions */

h1 {
  margin: 10px;
}

#instructions {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1, #instructions p {
  color: black;
}

/* Button */

button {
  display: inline-block;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 10px 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/* Nice Words and Jokes */

/* #niceWords, #funnyWords */
 #feelBetter {
  /* background-color: rgba(144, 255, 130, 0.726); */
  padding: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  text-align: center;
  flex: 1;
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

/* #niceWordsText {
  
} */

.blueGreen {
  background-image: linear-gradient(to right top, #051937, #00395b, #005962, #007644, #628c02);
  color: white;
}

.redBlue {
  background-image: linear-gradient(120deg, #AC3317, #130669);
  color: white;
}

.redGrayBlue {
  background-image: linear-gradient(-119deg, #338EBF, #915667);
  color: white;
}

.red {
  color: white;
  background-color: red;
  font-size: 100px;;
}

.hideWords {
    display: none;
}

.showWords {
  display: flex;
  justify-content: center;
}